
.App__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  overflow: hidden;

  .counter__number {
    font-size: 7rem;
    margin: 0;
    margin-bottom: 20px;
    &.plus {
      color: var(--color-1);
    }
    &.minus {
      color: var(--color-2);
    }
  }

  .counter__title {
    font-size: 2rem;
    margin: 0;
    color: var(--color-3);
  }

  button {
    position: relative;
    background: transparent;
    border: 2px solid transparent;
    text-align: center;
    font-size: 22px;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    width: 43%;
    aspect-ratio: 7/1;
    
    margin: 0 10px;
    transition: all 0.05s ease-in-out;
    & .square {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      pointer-events: none;
      height: 50%;
      aspect-ratio: 1;
      padding: 0;
      z-index: -1;
      border-radius: 15%;
    }
    &.minus {
      background-color: var(--color-2);
      color: #fff;
      box-shadow: 0 4px 0 darken(var(--color-2), 10%);
      border: 1px solid darken(var(--color-2), 15%);
      & .square {
        background-color: var(--color-2);
        animation: animate-minus 2s linear forwards;
      }
    }

    &.plus {
      background-color: var(--color-1);
      color: #fff;
      box-shadow: 0 4px 0 darken(var(--color-1), 10%);
      border: 1px solid darken(var(--color-1), 15%);
      & .square {
        background-color: var(--color-1);
        animation: animate-plus 2s linear forwards;
      }

    }

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
}


